# Python cache files
__pycache__/
*.pyc

# Virtual environments
env/
venv/
ENV/
VENV/

# Django SQLite Database
*.sqlite3

# IDE folders
.vscode/
.idea/

# Static collected files
staticfiles/

# Media files
media/

# System files
.DS_Store
Thumbs.db
